<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${ets-code}-${version}" verbose="0" configfailurepolicy="skip">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value="2"/>

  <listeners>
    <listener class-name="org.opengis.cite.iso19139.TestRunListener" />
    <listener class-name="org.opengis.cite.iso19139.SuiteFixtureListener" />
  </listeners>

  <test name="Conformance Level 1">
    <classes>
        
      <class name="org.opengis.cite.iso19139.level1.ValidateInputTest" />
      <class name="org.opengis.cite.iso19139.level1.Capability1Tests" />
    </classes>
  </test>
    <test name="Conformance Level 2">
        <classes>
          <!--<class name="org.opengis.cite.iso19139.level2.Capability2Tests" />-->
        </classes>
      </test>
</suite>
