<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
    <name>OGC</name>
    <standard>
        <name>ISO 19139</name>
        <version>
            <name>1.0</name>
            <suite>
                <namespace-uri>http://www.opengis.net/cite/iso19139</namespace-uri>
                <prefix>tns</prefix>
                <local-name>${ets-code}-${version}</local-name>
                <title>ISO 19139</title>
                <description>Validates whether the given XML conforms to ISO19139 Standards</description>
            </suite>
            <revision>
                <name>${version}</name>
                <status>Beta</status>
                <sources>
                    <source>${ets-code}/${spec-version}/ctl</source>
                </sources>
                <webdir>${ets-code}/${spec-version}/site</webdir>
            </revision>
        </version>
    </standard>
</organization>
